<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Todo List</title>
    {% load static %}
    <script src='https://code.jquery.com/jquery-3.3.1.min.js'></script>
    <link rel='stylesheet' href='{% static  'css/index.css' %}'>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css'>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js'></script>
</head>
<body>
    <div class='home-page'>
        <div class='login-info'>
            {% block content %}
                {% if user.is_authenticated %}
                    <p>
                    <h3> Hi {{ user.username }}! </h3>
                    <a href='/todo/logout' class='button'>Log Out</a></p>
                {% else %}
                    <h3>You are not logged in</h3>
                    <a href='/todo/login'>Log In</a>
                {% endif %}
            {% endblock %}
        </div>
        <div class='todolist'>
            {% include 'todo/list.html' %}
        </div>
    </div>
</body>
</html>
