{% if list and not todo_list_items %}
    <div class='container col-md-12'>
        <h3>{{ user.username }}'s ToDoLists</h3>
        <div class='section col-md-6'>
            {% for todo in list %}
                <ul>
                    <li><b>Name: {{ todo.name }} | Created Date: {{ todo.create_date | date:'d M Y' }}</b></li>
                    | <a href='{% url 'update_todo_list' todo.id %}'>Update</a>
                    | <a href='{% url 'delete_todo_list' todo.id %}'>Delete</a>
                    | <a href='{% url 'todo_list_items' todo.id %}'>Items</a>
                    | <a href='{% url 'create_todo_list_item' todo.id %}'>Add Item</a>
                </ul>
            {% endfor %}
        </div>
        <div class='section col-md-6'>
            <a class='button' href='{% url 'create_todo_list' %}'>Create Todolist</a>
        </div>
    </div>
{% elif not todo_list_items and not list %}
    <div class='container col-md-12'>
        <div class='section col-md-6'>
            <a class='button' href='/'>Home</a>
            <a class='button' href='{% url 'create_todo_list' %}'>Create Todolist</a>
        </div>
    </div>
{% endif %}

{% if todo_list_items and not list %}
    <div class='container col-md-12'>
    <h3><u>{{ todo_list.name }} Items </u></h3>
    <select id='statusFilter' onchange='myFunction()' class='form-control' placeholder='Select'>
        <option>ALL</option>
        <option>UNCOMPLETED</option>
        <option>COMPLETED</option>
        <option>EXPIRED</option>
    </select>
    <table class='item-table col-md-12' id='myTable'>
        <thead>
        <tr>
            <th><a style="cursor: pointer">Name</a>
                <input type='text' id='myInput' onkeyup='searchFunction()' placeholder='Search for names..'
                       title='Type in a name'>
            </th>
            <th><a style="cursor: pointer"><u>Created Date</u></th>
            </a>
            <th><a style="cursor: pointer"><u>Deadline</u></th>
            </a>
            <th><a style="cursor: pointer"><u>Status</u></th>
            </a>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for item in todo_list_items %}
            <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.create_date | date:'d M Y' }}</td>
            <td>{{ item.deadline |date:'d M Y' }}</td>
            <td>{{ item.status }}</td>
            <td><a href='{% url 'update_todo_list_item' item.id %}'>Update</a> <br>
                <a href='{% url 'delete_todo_list_item' item.id %}'>Delete</a><br>
                <a href='{% url 'mark_todo_list_item' item.id %}'>
                    {% if item.status == 'COMPLETED' %}
                        Mark as Uncompleted
                    {% elif item.status == 'UNCOMPLETED' %}
                        Mark as Completed
                    {% endif %}
                </a>
                <a href='{% url 'detail' item.id %}'>detail</a>
            </td>
        {% endfor %}
        </tr>
        </tbody>
    </table>

    <a id='createButton' class='button' href='{% url 'create_todo_list_item' todo_list.id %}'>Create Todolist Item</a>
    <a id='createButton' class='button' href='/'>Home</a>
{% endif %}
</div>
<script>
    function searchFunction() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById('myInput');
        filter = input.value.toUpperCase();
        table = document.getElementById('myTable');
        tr = table.getElementsByTagName('tr');
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName('td')[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = '';
                } else {
                    tr[i].style.display = 'none';
                }
            }
        }
    }
</script>

<script>
    function myFunction() {
        var input, filter, table, tr, td, i;
        input = document.getElementById('statusFilter');
        filter = input.value.toUpperCase();
        table = document.getElementById('myTable');
        tr = table.getElementsByTagName('tr');

        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName('td')[3];
            if (td) {
                if (td.innerHTML.toUpperCase() == (filter) || (filter == 'ALL')) {
                    tr[i].style.display = '';
                } else {
                    tr[i].style.display = 'none';
                }
            }
        }
    }

    const table = document.getElementById('myTable');
    const headers = table.querySelectorAll('th');
    [].forEach.call(headers, function (header, index) {
        header.addEventListener('click', function () {
            sortColumn(index);
        });
    });
    const tableBody = table.querySelector('tbody');
    const rows = tableBody.querySelectorAll('tr');
    const sortColumn = function (index) {
        const direction = directions[index] || 'asc';
        const multiplier = (direction === 'asc') ? 1 : -1;
        const newRows = Array.from(rows);
        newRows.sort(function (rowA, rowB) {
            const cellA = rowA.querySelectorAll('td')[index].innerHTML;
            const cellB = rowB.querySelectorAll('td')[index].innerHTML;
            const a = transform(index, cellA);
            const b = transform(index, cellB);

            switch (true) {
                case a > b:
                    return 1 * multiplier;
                case a < b:
                    return -1 * multiplier;
                case a === b:
                    return 0;
            }
        });
        directions[index] = direction === 'asc' ? 'desc' : 'asc';
        [].forEach.call(rows, function (row) {
            tableBody.removeChild(row);
        });
        newRows.forEach(function (newRow) {
            tableBody.appendChild(newRow);
        });
    };
    const directions = Array.from(headers).map(function (header) {
        return '';
    });
    const transform = function(index, content) {
    const type = headers[index].getAttribute('data-type');
    switch (type) {
        case 'number':
            return parseFloat(content);
        case 'string':
        default:
            return content;
    }
};
</script>
